table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 40%;
}

th {
  font-weight: 600;
}

td em {
  cursor: pointer;
}

/* Border */
.filter
  ::ng-deep
  .mat-form-field-appearance-standard
  .mat-form-field-underline {
  background-color: rgba(255, 255, 255, 255) !important;
}

.filter ::ng-deep .mat-form-field-ripple {
  background-color: rgba(255, 255, 255, 255);
}

/*##################################### Display Screen settings ###################################*/
@media only screen and (max-width: 992px) {
  td,
  th {
    width: 25%;
  }
}
