<form [formGroup]="bookingForm" class="col-md-12">
    <!-- Title & price -->
    <div class="form-row">
        <div class="form-group col-md-12">
            <mat-form-field class="col-md-12" appearance="standard">
                <mat-select formControlName="tripoffer" placeholder="Reiseangebot" #singleSelect required>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="tripofferFilteringCtrl" [searching]="searching"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let tripoffer of filteredTripoffers | async" [value]="tripoffer">
                        {{tripoffer.titel}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="bookingForm.get('tripoffer').invalid">
                    Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <!--airport-->
    <div class="form-row">
        <div class="form-group col-md-12">
            <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Flughafen</mat-label>
                <input matInput type="number" formControlName="airport" placeholder="Flughafen" required>
                <mat-error *ngIf="bookingForm.get('airport').invalid">
                    Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <!--date-->
    <div class="form-row">
        <div class="form-group col-md-12">
            <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Datum</mat-label>
                <textarea matInput formControlName="date" required></textarea>
                <mat-error *ngIf="bookingForm.get('date').invalid">
                    Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</form>