.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-dialog-container {
  padding: 0 !important;
  overflow-y: scroll !important;
}

.mat-vertical-content {
  padding: 0 !important;
}

.mat-form-field {
  padding: 0 !important;
}

textarea {
  min-height: 100px;
}

mat-dialog-content {
  padding-top: 20px;
}

.action-buttons {
  text-align: right;
}

mat-dialog-actions {
  min-height: unset;
}

.title {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

.btn-close {
  float: left;
}

.input-file-container {
  position: relative;
  width: 225px;
}
.js .input-file-trigger {
  display: block;
  padding: 14px 45px;
  background: #39d2b4;
  color: #fff;
  font-size: 1em;
  transition: all 0.4s;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #34495e;
  color: #39d2b4;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: 0.9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}
