.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-dialog-container {
  padding: 0 !important;
  overflow-y: scroll !important;
}

.mat-vertical-content {
  padding: 0 !important;
}

.mat-form-field {
  padding: 0 !important;
}

textarea {
  min-height: 100px;
}

mat-dialog-content {
  padding-top: 20px;
}

.action-buttons {
  text-align: right;
}

mat-dialog-actions {
  min-height: unset;
}

.title {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

.btn-close {
  float: left;
}


