
<mat-dialog-content>
    <h2 mat-dialog-title>Angebot auswählen</h2>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
        <div class="form-row">
            <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Reiseangebote.</mat-label>
                <mat-select [formControl]="selectedOffer" required>
                    <mat-option disabled>Auswaelen</mat-option>
                    <mat-option *ngFor="let offer of currentOffers" [value]="offer">
                        {{offer.titel}}
                    </mat-option>
                </mat-select>
                <mat-hint>Ein Angebot aussuchen und bestätigen.</mat-hint>
                <mat-error *ngIf="selectedOffer.invalid">
                    Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <mat-divider></mat-divider>
    <div class="justify-content-end" mat-dialog-actions>
        <button class="ms-auto" (click)="startBookingProcess()" [disabled]="selectedOffer.invalid" mat-raised-button
            color="primary" mat-dialog-close>
            Ok
        </button>
        <button mat-button color="accent" mat-dialog-close>
            Abbrechen
        </button>
    </div>
</mat-dialog-actions>
