# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
.settings/
.history
*.launch
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# i18n
src/locale/src/messages.xlf

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.package-lock.json
package-lock.json

# e2e
REPORTS/
!dev.protractor.conf.js
!test.protractor.conf.js
!e2e/testData.js

# test user passwords
!e2e/credentials.js
.protractor-fail-fast

# System Files
.DS_Store
Thumbs.db
