<div class="header bg-gradient-primary pb-6 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="text-center col-md-12">
          <em class="fas fa-plane-departure text-white"></em>
          <h1 class="display-2 text-white">Reiseangebot bearbeiten</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt-3 mb-5">
  <app-spinner *ngIf="loading"></app-spinner>
  <mat-card class="m-0 card-shadow" *ngIf="!loading">
    <mat-card-header>
      <div class="row">
        <button class="mb-2" mat-mini-fab color="primary" aria-label="back icon" matTooltip="Zurück zur Liste"
          matTooltipHideDelay="{{ toolTipDuration }}" (click)="navigateToTripoffersList()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-divider inset></mat-divider>
    <mat-card-content class="col-md-12">
      <div class="row">
        <h1 class="mt-2">Informationen des Angebots</h1>
        <form [formGroup]="tripofferForm" class="col-md-12 m-0 p-0">
          <div class="form-row">
            <!-- Title -->
            <div class="form-group col-md-8">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Titel</mat-label>
                <input matInput formControlName="title" placeholder="Titel/Name" required>
                <mat-error *ngIf="tripofferForm.get('title').invalid">
                  Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Total place -->
            <div class="form-group col-md-4">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Gesamtplatz</mat-label>
                <input type="number" matInput formControlName="totalplace" placeholder="Gesamtplatz" required>
                <mat-error *ngIf="tripofferForm.get('totalplace').invalid">
                  Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!--Image uploader-->
          <div class="form-row">
            <div class="form-group col-md-4 col-sm-12 text-center m-0 p-0">
              <img *ngIf="currentTripoffer?.realImage" [src]="currentTripoffer?.realImage" class="img-fluid" alt="">
            </div>
            <div class="form-group col-md-8">
              <mat-form-field class="col-md-12">
                <mat-label>Hintergrundbild</mat-label>
                <mat-toolbar class="mb-1">
                  <input matInput [value]="selectedFileName.length ? selectedFileName : 'Bild auswählen'"
                    formControlName="image" disabled required />
                </mat-toolbar>
                <div class="input-file-container">
                  <div class="js text-center">
                    <input type="file" id="fileInput" class="input-file ml-5" name="fileInput" accept="image/*"
                      (change)="selectFile($event)" />
                    <label tabindex="0" for="fileInput" class="input-file-trigger">Bild auswählen...</label>
                  </div>
                </div>
                <mat-error *ngIf="!isImgSelected">
                  Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-row mt-4">
            <!-- start date -->
            <div class="form-group col-md-4">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Startdatum</mat-label>
                <input matInput readonly (dateChange)="onStartDateSelected($event)" [matDatepicker]="startdatepicker"
                  formControlName="startdate" (click)="clearStartDateError()" required>
                <mat-datepicker-toggle matSuffix [for]="startdatepicker" (click)="clearStartDateError()">
                </mat-datepicker-toggle>
                <mat-datepicker #startdatepicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Abbrechen</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Ok</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
                <mat-hint>Startdatum</mat-hint>
                <mat-error *ngIf="tripofferForm.get('startdate').invalid">
                  Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
                <mat-hint class="text-danger" *ngIf="errors.startdate">
                  {{errors.startdate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!-- end date -->
            <div class="form-group col-md-4">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Enddatum</mat-label>
                <input matInput readonly (dateChange)="onEndDateSelected($event)" [matDatepicker]="enddatepicker"
                  formControlName="enddate" (click)="clearEndDateError()" required>
                <mat-datepicker-toggle matSuffix [for]="enddatepicker" (click)="clearEndDateError()">
                </mat-datepicker-toggle>
                <mat-datepicker #enddatepicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Abbrechen</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Ok</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
                <mat-hint>Enddatum</mat-hint>
                <mat-error *ngIf="tripofferForm.get('enddate').invalid">
                  Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
                <mat-hint class="text-danger" *ngIf="errors.enddate">
                  {{errors.enddate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!-- Deadline date -->
            <div class="form-group col-md-4">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Anmeldungsfrist</mat-label>
                <input matInput readonly (dateChange)="onDeadlineDateSelected($event)"
                  [matDatepicker]="deadlinedatepicker" formControlName="deadline" (click)="clearDeadlineDateError()"
                  required>
                <mat-datepicker-toggle matSuffix [for]="deadlinedatepicker" (click)="clearDeadlineDateError()">
                </mat-datepicker-toggle>
                <mat-datepicker #deadlinedatepicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Abbrechen</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Ok</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
                <mat-hint>Anmeldungsfrist</mat-hint>
                <mat-error *ngIf="tripofferForm.get('deadline').invalid">
                  Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
                <mat-hint class="text-danger" *ngIf="errors.deadlinedate">
                  {{errors.deadlinedate}}
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <!--Services-->
          <div class="form-row">
            <div class="form-group col-md-12">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Leistungen</mat-label>
                <mat-chip-grid #serviceList aria-label="services" required>
                  <mat-chip-option *ngFor="let service of serviceArray" [selected]="service" [value]="service"
                    (removed)="removeService(service)">
                    {{service}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-option>
                  <input placeholder="Neue Leistung..." formControlName="services" [matChipInputFor]="serviceList"
                    (matChipInputTokenEnd)="addServiceFromInput($event)">
                </mat-chip-grid>
                <mat-hint>Für mehr Leistungen, drücken sie die Taste Enter, um eine neue Leistung zu erfassen.
                </mat-hint>
                <mat-error *ngIf="tripofferForm.get('services').invalid">
                  Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!--Authorizedtotravel-->
          <div class="form-row">
            <div class="form-group col-md-12">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Mitberechtigt</mat-label>
                <mat-chip-list #authorizationList aria-label="authorizedtotravel" multiple required>
                  <mat-chip *ngFor="let value of authorizedtotravelArray" [selected]="value" [value]="value"
                    (removed)="removeAuthorization(value)">
                    {{value}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input placeholder="Neue..." formControlName="authorizedtotravel"
                    [matChipInputFor]="authorizationList" (matChipInputTokenEnd)="addAuthorizationFromInput($event)">
                </mat-chip-list>
                <mat-hint>Für mehr Berechtigungen, drücken sie die Taste Enter, um eine neue Berechtigung zu erfassen.
                </mat-hint>
                <mat-error *ngIf="tripofferForm.get('authorizedtotravel').invalid">
                  Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!--Note-->
          <div class="form-row">
            <div class="form-group col-md-12">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Wichtige Hinweise</mat-label>
                <textarea matInput formControlName="note" required></textarea>
                <mat-error *ngIf="tripofferForm.get('note').invalid">
                  Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!--Other Note-->
          <div class="form-row">
            <div class="form-group col-md-12">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Sonstige Hinweise</mat-label>
                <textarea matInput formControlName="anothernote" required></textarea>
                <mat-error *ngIf="tripofferForm.get('anothernote').invalid">
                  Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <mat-divider inset></mat-divider>
        </form>
      </div>
      <div class="row">
        <h1 class="mt-2">Das Land zuweisen</h1>
        <mat-form-field appearance="standard" class="col-md-12">
          <mat-label>Land auswählen</mat-label>
          <mat-select [formControl]="selectedCountry" required>
            <mat-option disabled>auswählen</mat-option>
            <mat-option *ngFor="let country of countriesList" [value]="country">
              {{country.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="selectedCountry.invalid">
            Die Eingabe ist <strong>erforderlich</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <!--booking class-->
      <div class="row mt-5">
        <div class="col-10">
          <h1>Buchungsklassen</h1>
        </div>
        <button class="ml-1" mat-mini-fab color="primary" aria-label="add icon" matTooltip="Buchungsklasse hinzufügen"
          matTooltipHideDelay="{{ toolTipDuration }}" (click)="addBookingclassDialog(bookingclassDialog)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <mat-divider inside></mat-divider>
      <!--bookingclass list-->
      <div class="row mt-2" *ngIf="currentTripoffer?.buchungsklassenReadListTO">
        <mat-card class="col-sm-12 col-md-4 mb-3 border-secondary"
          *ngFor="let bc of currentTripoffer?.buchungsklassenReadListTO">
          <mat-card-title>{{bc.type}}</mat-card-title>
          <mat-card-subtitle class="font-weight-400 text-info">Preis: {{bc.preis}}.-</mat-card-subtitle>
          <mat-divider inside></mat-divider>
          <mat-card-content>
            <p class="pt-2">{{bc.description}}</p>
          </mat-card-content>
          <mat-divider inside></mat-divider>
          <mat-card-actions align="end">
            <button mat-button class="mr-3" matTooltip="Editieren" matTooltipHideDelay="{{toolTipDuration}}"
              (click)="editBookingclass(bc, bookingclassDialog)">
              Editieren
            </button>
            <button mat-button matTooltip="Entfernen" matTooltipHideDelay="{{toolTipDuration}}"
              (click)="deleteBookingclassDialog(bc, deleteBcDialog)">
              Entfernen
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <!--Expectations-->
      <div class="row">
        <h1 class="col-md-12 mt-5">Erwartungen</h1>
        <form [formGroup]="expectationForm" class="col-md-12">
          <mat-divider class="pb-1"></mat-divider>
          <!-- Adventure -->
          <div class="form-row mt-3">
            <div class="form-group col-md-6">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Abenteuer</mat-label>
                <input matInput type="number" formControlName="adventure" placeholder="Wert" min="0" max="100"
                  [required]="false">
                <mat-error
                  *ngIf="expectationForm.get('adventure').errors && expectationForm.get('adventure').hasError('required')">
                  Der Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
                <mat-error
                  *ngIf="expectationForm.get('adventure').errors && expectationForm.get('adventure').hasError('min') || expectationForm.get('adventure').errors && expectationForm.get('adventure').hasError('max')">
                  Der Wert muss zwischen <strong>[0 - 100]</strong> sein.
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Comfort -->
            <div class="form-group col-md-6">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Konfort</mat-label>
                <input matInput type="number" formControlName="comfort" placeholder="Wert" min="0" max="100"
                  [required]="false">
                <mat-error
                  *ngIf="expectationForm.get('comfort').errors && expectationForm.get('comfort').hasError('required')">
                  Der Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
                <mat-error
                  *ngIf="expectationForm.get('comfort').errors && expectationForm.get('comfort').hasError('min') || expectationForm.get('comfort').errors && expectationForm.get('comfort').hasError('max')">
                  Der Wert muss zwischen <strong>[0 - 100]</strong> sein.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- Deceleration -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Konfort</mat-label>
                <input matInput type="number" formControlName="deceleration" placeholder="Wert" min="0" max="100"
                  [required]="false">
                <mat-error
                  *ngIf="expectationForm.get('deceleration').errors && expectationForm.get('deceleration').hasError('required')">
                  Der Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
                <mat-error
                  *ngIf="expectationForm.get('deceleration').errors && expectationForm.get('deceleration').hasError('min') || expectationForm.get('deceleration').errors && expectationForm.get('deceleration').hasError('max')">
                  Der Wert muss zwischen <strong>[0 - 100]</strong> sein.
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Road -->
            <div class="form-group col-md-6">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Road</mat-label>
                <input matInput type="number" formControlName="road" placeholder="Wert" min="0" max="100"
                  [required]="false">
                <mat-error
                  *ngIf="expectationForm.get('road').errors && expectationForm.get('road').hasError('required')">
                  Der Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
                <mat-error
                  *ngIf="expectationForm.get('road').errors && expectationForm.get('road').hasError('min') || expectationForm.get('road').errors && expectationForm.get('road').hasError('max')">
                  Der Wert muss zwischen <strong>[0 - 100]</strong> sein.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- Road -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Sicherheit</mat-label>
                <input matInput type="number" formControlName="safety" placeholder="Wert" min="0" max="100"
                  [required]="false">
                <mat-error
                  *ngIf="expectationForm.get('safety').errors && expectationForm.get('safety').hasError('required')">
                  Der Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
                <mat-error
                  *ngIf="expectationForm.get('safety').errors && expectationForm.get('safety').hasError('min') || expectationForm.get('safety').errors && expectationForm.get('safety').hasError('max')">
                  Der Wert muss zwischen <strong>[0 - 100]</strong> sein.
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Road -->
            <div class="form-group col-md-6">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Sonne Strand</mat-label>
                <input matInput type="number" formControlName="sun_beach" placeholder="Wert" min="0" max="100"
                  [required]="false">
                <mat-error
                  *ngIf="expectationForm.get('sun_beach').errors && expectationForm.get('sun_beach').hasError('required')">
                  Der Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
                <mat-error
                  *ngIf="expectationForm.get('sun_beach').errors && expectationForm.get('sun_beach').hasError('min') || expectationForm.get('sun_beach').errors && expectationForm.get('sun_beach').hasError('max')">
                  Der Wert muss zwischen <strong>[0 - 100]</strong> sein.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- Sustainability -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Nachhaltigkeit</mat-label>
                <input matInput type="number" formControlName="sustainability" placeholder="Wert" min="0" max="100"
                  [required]="false">
                <mat-error
                  *ngIf="expectationForm.get('sustainability').errors && expectationForm.get('sustainability').hasError('required')">
                  Der Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
                <mat-error
                  *ngIf="expectationForm.get('sustainability').errors && expectationForm.get('sustainability').hasError('min') || expectationForm.get('sustainability').errors && expectationForm.get('sustainability').hasError('max')">
                  Der Wert muss zwischen <strong>[0 - 100]</strong> sein.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions align="end">
      <button color="primary" mat-raised-button (click)="saveTripoffer()" [disabled]="!isValid">Speichern</button>
      <button color="accent" mat-button (click)="navigateToTripoffersList()">Abbrechen</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #bookingclassDialog>
  <h1 mat-dialog-title>{{isAdd ? 'Buchungsklasse hinzufügen' : 'Buchungsklasse editieren'}}</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <app-bookingclass-form (notifyFormIsValid)="isModalFormValid($event)" class="col-md-12"></app-bookingclass-form>
  </div>
  <mat-divider></mat-divider>
  <div class="justify-content-end" mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close [disabled]="!isModalValid" (click)="saveBookingclass()">
      Speichern
    </button>
    <button mat-button color="accent" mat-dialog-close (click)="resetSaveModalButton()">
      Abbrechen
    </button>
  </div>
</ng-template>

<ng-template #deleteBcDialog>
  <h1 mat-dialog-title>Bestätigen Sie das Löschen</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <p>
      Wollen Sie diese Buchungsklasse wirklich löschen?
    </p>
  </div>
  <div class="justify-content-end" mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close (click)="deleteBookingclass()">Ja</button>
    <button mat-raised-button color="accent" mat-dialog-close>Nein</button>
  </div>
</ng-template>

<ng-template #deleteExpDialog>
  <h1 mat-dialog-title>Bestätigen Sie das Löschen</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <p>
      Wollen Sie diese Erwartung wirklich löschen?
    </p>
  </div>
  <div class="justify-content-end" mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close (click)="deleteExpectation()">Ja</button>
    <button mat-raised-button color="accent" mat-dialog-close>Nein</button>
  </div>
</ng-template>
