<div class="header bg-gradient-primary pb-6 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row">
                <div class="text-center col-md-12">
                    <em class="fas fa-plane-departure text-white"></em>
                    <h1 class="display-2 text-white">Angebot Editieren</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt-3">
    <div class="row">
        <button class="mb-2" mat-mini-fab color="primary" aria-label="back icon" matTooltip="Zurück zur Liste"
            matTooltipHideDelay="{{ toolTipDuration }}" (click)="navigateToTripoffersList()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
</div>