<footer class="footer">
  <div class="row justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        <h1>Kontakt</h1>
        <h2>Julia Schnitzer</h2>
        <h2>post@university-travel-club.org</h2>
        &copy; {{ test | date: "yyyy" }}
        <a
          href="https://www.creative-tim.com?ref=ada-footer-admin-layout"
          class="font-weight-bold ml-1"
          target="_blank"
          >university-travel-club</a
        >
      </div>
    </div>
    <div class="col-xl-4">
      <h1>Newsletter abonnieren</h1>
      <Input type="text" placeholder="Email Adresse" />
      <button>ABONNIEREN</button>
    </div>
    <div class="col-lg-2">
      <a href="https://www.facebook.com/universitytravelclub/"
        ><i class="fab fa-facebook"> Facebook</i></a
      >
      <a href="https://www.instagram.com/utcgermany/?hl=de"
        ><i class="fab fa-instagram"> Instagram</i></a
      >
      <a href="">Impressum und DatenShutz</a>
      <a href=""><i class="fas fa-arrow-circle-up"></i></a>
    </div>
  </div>
</footer>
