<div class="container-fluid">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        <h3 class="text-white">Kontakt</h3>
        <p class="text-white">Julia Schnitzer</p>
        <p class="text-white">post@university-travel-club.org</p>
        &copy; {{ test | date: "yyyy" }}
        <a href="https://www.creative-tim.com?ref=ada-footer-auth-layout" class="font-weight-bold ml-1 text-white"
          target="_blank">UNIVERSITY TRAVEL CLUB</a>
      </div>
    </div>
    <div class="col-xl-4">
      <h3 class="text-white">Newsletter abonnieren</h3>
      <Input type="text" placeholder="E-mail Adresse..." />
      <button class="submit">ABONNIEREN</button>
    </div>
    <div class="col-xl-2">
      <a href="https://www.facebook.com/universitytravelclub" class="text-white"><i class="bi bi-facebook">facebook</i></a>
      <br />
      <a href="https://www.instagram.com/utcgermany/" class="text-white">
        <i class="bi bi-instagram">Instagram</i></a>
      <br />
      <a href="" class="text-white">Impressum und DatenSchutz</a>
      <br />
      <br />
      <a hre="" class="text-white"><i class="bi bi-arrow-up-circle-fill"></i></a>
    </div>
  </div>
</div>
