body {
  padding-top: 3rem;
  padding-bottom: 3rem;

  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: auto;
}

footer {
  align-items: center;
  width: 100%;
  padding: 5em 3em 1em 3em;
}

