body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

header {
  height: auto;
}

main {
  height: auto;
  overflow: auto;
  padding-top: 0;
}

footer {
  //position: absolute;
  width: 100%;

  clear: both;
  //bottom: 0;
}
