<div class="main-content">
  <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
    <div class="container px-4">
      <a
        class="navbar-brand"
        routerLinkActive="active"
        [routerLink]="['/dashboard']"
      >
        <img src="../../../assets/logo/Logo weiß.png" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        (click)="isCollapsed = !isCollapsed"
        aria-controls="sidenav-collapse-main"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        [ngbCollapse]="isCollapsed"
        id="sidenav-collapse-main"
      >
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a routerLinkActive="active" [routerLink]="['/dashboard']">
                <img src="../../../assets/logo/Logo weiß.png" />
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button
                type="button"
                class="navbar-toggler"
                (click)="isCollapsed = !isCollapsed"
              >
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Navbar items -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a
              class="nav-link nav-link-icon"
              routerLinkActive="active"
              [routerLink]="['/dashboard']"
            >
              <span class="nav-link-inner--text">Über uns</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link nav-link-icon"
              routerLinkActive="active"
              [routerLink]="['/register']"
            >
              <span class="nav-link-inner--text">Reisen</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link nav-link-icon"
              routerLinkActive="active"
              [routerLink]="['/login']"
            >
              <span class="nav-link-inner--text">Direct Buchen</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link nav-link-icon"
              routerLinkActive="active"
              [routerLink]="['/user-profile']"
            >
              <span class="nav-link-inner--text">Newsletter</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
<app-carousel></app-carousel>

<!--Footer-->
<footer class="py-5">
  <div class="container-fluid footer">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          <h1>Kontakt</h1>
          <h2>Julia Schnitzer</h2>
          <h2>post@university-travel-club.org</h2>
          &copy; {{ test | date: "yyyy" }}
          <a
            href="https://www.creative-tim.com?ref=ada-footer-auth-layout"
            class="font-weight-bold ml-1"
            target="_blank"
            >UNIVERSITY TRAVEL CLUB</a
          >
        </div>
      </div>
      <div class="col-xl-4">
        <h1>Newsletter abonnieren</h1>
        <Input type="text" placeholder="E-mail Adresse..." />
        <button class="submit">ABONNIEREN</button>
      </div>
      <div class="col-xl-2">
        <a href="https://www.facebook.com/universitytravelclub"
          ><i class="bi bi-facebook">facebook</i></a
        >
        <br />
        <a href="https://www.instagram.com/utcgermany/">
          <i class="bi bi-instagram">Instagram</i></a
        >
        <br />
        <a href="">Impressum und DatenSchutz</a>
        <br />
        <br />
        <a hre=""><i class="bi bi-arrow-up-circle-fill"></i></a>
      </div>
    </div>
  </div>
</footer>
