<div class="header bg-gradient-green pb-6 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="text-center col-md-12">
          <em class="fas fa-globe text-white"></em>
          <h1 class="display-2 text-white">Land bearbeiten</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt-3 mb-5">
  <div class="col-md-12">
    <div class="row">
      <button class="mb-2" mat-mini-fab color="primary" aria-label="back icon" matTooltip="Zurück zur Liste"
        matTooltipHideDelay="{{ toolTipDuration }}" (click)="navigateToCountriesList()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <!--country-->
    <div class="row">
      <h1 class="mt-2">Land</h1>
      <form [formGroup]="countryForm" class="col-md-12 m-0 p-0">
        <!-- Name -->
        <div class="form-row">
          <div class="form-group col-md-12">
            <mat-form-field class="col-md-12" appearance="standard">
              <mat-label>Name des Landes</mat-label>
              <input matInput formControlName="name" placeholder="Name des Landes" required>
              <mat-error *ngIf="countryForm.get('name').invalid">
                Der Name ist <strong>erforderlich</strong>.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--image-->
        <div class="form-row">
          <div class="form-group col-md-4">
            <img *ngIf="country?.realImage" [src]="country?.realImage" class="col-md-12" alt="attached_image">
          </div>
          <div class="form-group col-md-8">
            <mat-form-field class="col-md-12">
              <mat-label>Hintergrundbild</mat-label>
              <mat-toolbar class="mb-1">
                <input matInput [value]="selectedFileName?.length ? selectedFileName : 'Bild auswählen'"
                  formControlName="image" required />
              </mat-toolbar>
              <div class="input-file-container">
                <div class="js text-center">
                  <input type="file" class="input-file ml-5" id="fileInput" name="fileInput" accept="image/*"
                    (change)="selectFile($event)" />
                  <label tabindex="0" for="fileInput" class="input-file-trigger">Select a file...</label>
                </div>
              </div>
              <mat-error *ngIf="!isImgSelected">
                Die Eingabe ist <strong>erforderlich</strong>.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--Airport-->
        <div class="form-row">
          <div class="form-group col-md-12">
            <mat-form-field class="col-md-12" appearance="standard">
              <mat-label>Flughäfen</mat-label>
              <mat-chip-list #airportsList aria-label="Flughäfen" multiple required>
                <mat-chip *ngFor="let airport of airportsArray" [selected]="airport" [value]="airport"
                  (removed)="removeAirport(airport)">
                  {{airport}}
                </mat-chip>
                <input placeholder="Neuer Flughafen und Enter drücken..." formControlName="airports"
                  [matChipInputFor]="airportsList" (matChipInputTokenEnd)="addAirportFromInput($event)">
              </mat-chip-list>
              <mat-error *ngIf="countryForm.get('airports').invalid">
                Die Eingabe ist <strong>erforderlich</strong>.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--text-->
        <div class="form-row">
          <div class="form-group col-md-12">
            <mat-form-field class="col-md-12" appearance="standard">
              <mat-label>Text für die Unterkunft</mat-label>
              <textarea matInput formControlName="accommodation_text" required></textarea>
              <mat-error *ngIf="countryForm.get('accommodation_text').invalid">
                Die Eingabe ist <strong>erforderlich</strong>.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
    <!--Country info-->
    <div class="row mt-5">
      <div class="col-10">
        <h1>Informationen</h1>
      </div>
      <button class="ml-1" mat-mini-fab color="primary" aria-label="add icon" matTooltip="Neue Info hinzufügen"
        matTooltipHideDelay="{{ toolTipDuration }}" (click)="addCountryInfoDialog(countryInfoDialog)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-divider inside></mat-divider>
    <!--Info list-->
    <div class="row mt-2" *ngIf="countryInfos">
      <mat-accordion class="col-md-12 p-0" multi>
        <mat-expansion-panel *ngFor="let info of countryInfos">
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-600">
              {{info.titel.toUpperCase()}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template class="font-weight-500" matExpansionPanelContent>
            {{info.description}}
          </ng-template>
          <mat-action-row class="justify-content-end">
            <button mat-button color="primary" (click)="editCountryInfo(info, countryInfoDialog)">Editieren</button>
            <button mat-button color="accent"
              (click)="confirmCountryInfoDeletion(info, deleteCountryInfoDialog)">Löschen</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <!--Highlights-->
    <div class="row mt-5">
      <div class="col-10">
        <h1>Highlights</h1>
      </div>
      <button mat-mini-fab color="primary" aria-label="add icon" matTooltip="Neues Highlight hinzufügen"
        matTooltipHideDelay="{{ toolTipDuration }}" (click)="addHighlightDialog(highlightDialog)"
        class="justify-content-end">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-divider inside></mat-divider>
    <!--Highlights list-->
    <div class="row mt-2" *ngIf="highlights">
      <div class="col-md-3" *ngFor="let item of highlights">
        <mat-card class="col-md-12 mb-2">
          <mat-card-content>
            <h2>{{item.name}}</h2>
            <p>{{getDescription(item.description)}}</p>
          </mat-card-content>
          <mat-card-actions>
            <label class="mr-3" matTooltip="Mehr" matTooltipHideDelay="{{toolTipDuration}}"
              (click)="highlightDetails(item, highlightDetailDialog)">
              <em class="fa fa-eye text-info"></em>
            </label>
            <label class="mr-3" matTooltip="Editieren" matTooltipHideDelay="{{toolTipDuration}}"
              (click)="editHighlight(item, highlightDialog)">
              <em class="fa fa-pen text-primary"></em>
            </label>
            <label matTooltip="Entfernen" matTooltipHideDelay="{{toolTipDuration}}"
              (click)="deleteHeighlightDialog(item, deleteHighlightDialog)">
              <em class="fa fa-trash text-red"></em>
            </label>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <!--accommodation-->
    <div class="row mt-5">
      <div class="col-10">
        <h1>Unterkünfte</h1>
      </div>
      <button class="ml-1" mat-mini-fab color="primary" aria-label="add icon" matTooltip="Neue Unterkunft hinzufügen"
        matTooltipHideDelay="{{ toolTipDuration }}" (click)="addAccommodationDialog(accommodationDialog)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <!--accommodations list-->
    <div class="row mt-3" *ngIf="accommodations">
      <div class="col-md-3" *ngFor="let item of accommodations">
        <mat-card class="col-md-12 mb-2">
          <mat-card-content>
            <h2>{{item.name}}</h2>
            <p><small class="text-primary">{{item.link}}</small></p>
            <p>{{getDescription(item.beschreibung)}}</p>
            <p>{{item.addresse}}</p>
          </mat-card-content>
          <mat-card-actions>
            <label class="mr-3" matTooltip="Mehr" matTooltipHideDelay="{{toolTipDuration}}"
              (click)="accommodationDetails(item, accommodationDetailDialog)">
              <em class="fa fa-eye text-info"></em>
            </label>
            <label class="mr-3" matTooltip="Editieren" matTooltipHideDelay="{{toolTipDuration}}"
              (click)="editAccommodation(item, accommodationDialog)">
              <em class="fa fa-pen text-primary"></em>
            </label>
            <label matTooltip="Entfernen" matTooltipHideDelay="{{toolTipDuration}}"
              (click)="deleteAccommodationDialog(item, deleteaccommodationDialog)">
              <em class="fa fa-trash text-red"></em>
            </label>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <!--Save button-->
    <mat-divider inside></mat-divider>
    <div class="row justify-content-end">
      <button class="mt-4" color="primary" mat-raised-button (click)="updateCountry()" [disabled]="!isValid">
        Speichern
      </button>
      <button class="mt-4" color="accent" mat-button (click)=" navigateToCountriesList()">
        Abbrechen
      </button>
    </div>
  </div>
</div>

<!-- Add Highligth modal-->
<ng-template #highlightDialog>
  <h1 mat-dialog-title>{{isAdd ? 'Neues Highlight hinzufügen':'Highlight ändern'}}</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <app-highlight-form (notifyFormIsValid)="setValidation($event)"></app-highlight-form>
  </div>
  <mat-divider></mat-divider>
  <div class="justify-content-end" mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close [disabled]="!isModalValid" (click)="saveHighlight()">
      Speichern
    </button>
    <button mat-button color="accent" mat-dialog-close>
      Abbrechen
    </button>
  </div>
</ng-template>

<!--Highlight Details-->
<ng-template #highlightDetailDialog>
  <h1 mat-dialog-title>Weitere Informationen über {{highlightForm.name}}</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <div class="form-row">
      <div class="form-group col-md-8">
        <div class="col-md-12">
          <h3>Name:</h3> {{highlightForm.name}}
        </div>
        <div class="col-md-12">
          <h3>Beschreibung:</h3> {{highlightForm.description}}
        </div>
      </div>
      <div class="form-group col-md-4">
        <img [src]="highlightForm.realImage" width="150px" height="150px" alt="Bild für {{highlightForm.name}}" />
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="justify-content-end" mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>
      Ok
    </button>
  </div>
</ng-template>

<!-- Add accommodation modal-->
<ng-template #accommodationDialog>
  <h1 mat-dialog-title>{{isAdd? 'Neue Unterfunkt hinzufügen':'Die folgende Unterkunft editieren'}}</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <app-accommodation-form (notifyFormIsValid)="setValidation($event)"></app-accommodation-form>
  </div>
  <mat-divider></mat-divider>
  <div class="justify-content-end" mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close [disabled]="!isModalValid" (click)="saveAccommodation()">
      Speichern
    </button>
    <button mat-button color="accent" mat-dialog-close>
      Abbrechen
    </button>
  </div>
</ng-template>

<!--Accommodation Details-->
<ng-template #accommodationDetailDialog>
  <h1 mat-dialog-title>Weitere Informationen über {{accommodationForm.name}}</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="col-md-12">
          <h3>Name:</h3> {{accommodationForm.name}}
        </div>
        <div class="col-md-12">
          <h3>Link:</h3> {{accommodationForm.link}}
        </div>
        <div class="col-md-12">
          <h3>Addresse:</h3> {{accommodationForm.addresse}}
        </div>
        <div class="col-md-12">
          <h3>Beschreibung:</h3> {{accommodationForm.beschreibung}}
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="row mt-5">
          <div class="col-md-4" *ngFor="let image of attachedImages; let i = index">
            <img [src]="image" class="col-md-12 mb-4" alt="Bild {{i+1}} von {{accommodationForm.name}}" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="justify-content-end" mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>
      Ok
    </button>
  </div>
</ng-template>

<!-- Add country info modal-->
<ng-template #countryInfoDialog>
  <h1 mat-dialog-title>{{isAdd ? 'Neue Information über des Landes hinzufügen' : 'Information über des Landes ändern'}}
  </h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <app-country-information-form (notifyFormIsValid)="setValidation($event)"></app-country-information-form>
  </div>
  <mat-divider></mat-divider>
  <div class="justify-content-end" mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close [disabled]="!isModalValid" (click)="saveCountryInfo()">
      Speichern
    </button>
    <button mat-button color="accent" mat-dialog-close>
      Abbrechen
    </button>
  </div>
</ng-template>


<ng-template #deleteCountryInfoDialog>
  <h1 mat-dialog-title>Bestätigen Sie das Löschen</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <p>Wollen Sie wirklich löschen?</p>
  </div>
  <div class="justify-content-end" mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close (click)="deleteCountryInfo()">Ja</button>
    <button mat-button color="accent" mat-dialog-close>Nein</button>
  </div>
</ng-template>

<ng-template #deleteHighlightDialog>
  <h1 mat-dialog-title>Bestätigen Sie das Löschen</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <p>Wollen Sie wirklich löschen?</p>
  </div>
  <div class="justify-content-end" mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close (click)="deleteHighlight()">Ja</button>
    <button mat-button color="accent" mat-dialog-close>Nein</button>
  </div>
</ng-template>

<ng-template #deleteaccommodationDialog>
  <h1 mat-dialog-title>Bestätigen Sie das Löschen</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <p>Wollen Sie wirklich löschen?</p>
  </div>
  <div class="justify-content-end" mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close (click)="deleteAccommodation()">Ja</button>
    <button mat-button color="accent" mat-dialog-close>Nein</button>
  </div>
</ng-template>