<div class="header bg-gradient-info pb-6 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row">
                <div class="text-center col-md-12">
                    <em class="fas fa-th-list text-white"></em>
                    <h1 class="display-2 text-white">Buchungen</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <!-- Filter -->
    <div class="row filter">
        <mat-form-field appearance="standard" class="col-md-12 text-white">
            <mat-label class="text-white">Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" class="text-white" #input>
        </mat-form-field>
    </div>

    <!-- Table -->
    <div class="row mt-4">
        <!--Add Button-->
        <div class="col-12">
            <button mat-mini-fab color="primary" aria-label="add icon" matTooltip="Booking Hinzufügen"
                matTooltipHideDelay="{{toolTipDuration}}" (click)="addBookingDialog(bookingDialog)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="col mt-2">
            <div class="mat-elevation-z4 col-12" *ngIf="dataSource.data.length > 0">
                <div class="spinner-container" *ngIf="dataSource.loading$ | async">
                    <mat-spinner></mat-spinner>
                </div>
                <table mat-table [dataSource]="dataSource" matSort aria-describedby="date">
                    <!-- Date Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">BUCHUNGSDATUM</th>
                        <td mat-cell *matCellDef="let row"> {{ convertDateToString(row?.datum) }} </td>
                    </ng-container>

                    <!-- Airport Column -->
                    <ng-container matColumnDef="airport">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">FLUGHAFEN</th>
                        <td mat-cell *matCellDef="let row"> {{row?.flughafen}} </td>
                    </ng-container>

                    <!-- payment Column -->
                    <ng-container matColumnDef="paymentmethod">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">ZAHLUNGSMETHODE</th>
                        <td mat-cell *matCellDef="let row"> {{row?.zahlungMethod}} </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef scope="col">ACTION</th>
                        <td mat-cell *matCellDef="let row">
                            <label class="mr-3" matTooltip="Ansehen" matTooltipHideDelay="{{toolTipDuration}}"
                                (click)="detailsDialog(row, viewDialog)">
                                <em class="fa fa-eye text-primary"></em>
                            </label>
                            <label class="mr-3" matTooltip="Editieren" matTooltipHideDelay="{{toolTipDuration}}"
                                (click)="editDialog(row, bookingDialog)">
                                <em class="fa fa-pen text-info"></em>
                            </label>
                            <label matTooltip="Entfernen" matTooltipHideDelay="{{toolTipDuration}}"
                                (click)="deleteDialog(row, delDialog)">
                                <em class="fa fa-trash text-red"></em>
                            </label>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">Keine Daten, die dem Filter entsprechen "{{input.value}}"</td>
                    </tr>
                </table>
                <!-- paginator -->
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of dataSource.data">
                </mat-paginator>
            </div>
            <p *ngIf="dataSource.data.length === 0" class="font-weight-600 pt-2"> Die Liste ist leer!</p>
        </div>
    </div>
</div>

<ng-template #bookingDialog>
    <h1 mat-dialog-title>{{isAdd ? 'Neue Buchung hinzufügen' : 'Buchungsinformationen ändern'}}</h1>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
        <app-booking-form (notifyFormIsValid)="isFormValid($event)"></app-booking-form>
    </div>
    <mat-divider></mat-divider>
    <div class="justify-content-end" mat-dialog-actions>
        <button class="ms-auto" (click)="saveBooking()" [disabled]="!valid" mat-raised-button color="primary"
            mat-dialog-close>
            Speichern
        </button>
        <button mat-button color="accent" mat-dialog-close>
            Abbrechen
        </button>
    </div>
</ng-template>

<ng-template #viewDialog>
    <h1 mat-dialog-title>Mehr Informationen</h1>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
        <mat-card class="col-md-12 m-0">
            <mat-card-content class="col-md-12">
                <!--Tripoffer-->
                <div class="col-md-12">
                    <h4>Reiseangebot:</h4>
                    <mat-divider class="mb-0"></mat-divider>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Angebot</mat-label>
                                <input matInput [value]="tripoffer.titel" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Von</mat-label>
                                <input matInput [value]="convertDateToString(tripoffer.startDatum)" disabled>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Bis</mat-label>
                                <input matInput [value]="convertDateToString(tripoffer.endDatum)" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Plätze</mat-label>
                                <input matInput [value]="tripoffer.plaetze" disabled>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Freiplätze</mat-label>
                                <input matInput [value]="tripoffer.freiplaetze ?? tripoffer.plaetze" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!--Country-->
                <div class="col-md-12">
                    <h4>Ziel:</h4>
                    <mat-divider class="mb-0"></mat-divider>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Name</mat-label>
                                <input matInput [value]="country.name" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!--Bookingclass-->
                <div class="col-md-12">
                    <h4>Buchungsklasse:</h4>
                    <mat-divider class="mb-0"></mat-divider>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Typ</mat-label>
                                <input matInput [value]="bookingclass.type" disabled>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Preis</mat-label>
                                <input matInput [value]="bookingclass.preis" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!--Traveler-->
                <div class="col-md-12">
                    <h4>Reisende:</h4>
                    <mat-divider class="mb-0"></mat-divider>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Vorname:</mat-label>
                                <input matInput [value]="traveler.vorname" disabled>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Nachname</mat-label>
                                <input matInput [value]="traveler.name" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Email:</mat-label>
                                <input matInput [value]="traveler.email" disabled>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Handy</mat-label>
                                <input matInput [value]="traveler.telefonnummer" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Adresse</mat-label>
                                <input matInput [value]="traveler.adresse" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!--Co traveler-->
                <div *ngIf="cotraveler" class="col-md-12">
                    <h4>Mitreisende:</h4>
                    <mat-divider class="mb-0"></mat-divider>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Vorname:</mat-label>
                                <input matInput [value]="cotraveler.vorname" disabled>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Nachname</mat-label>
                                <input matInput [value]="cotraveler.name" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Email:</mat-label>
                                <input matInput [value]="cotraveler.email" disabled>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Handy</mat-label>
                                <input matInput [value]="getPhoneNumber(cotraveler.telefonnummer)" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            <mat-form-field class="col-md-12" appearance="standard">
                                <mat-label>Adresse</mat-label>
                                <input matInput [value]="cotraveler.adresse" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-divider></mat-divider>
    <div class="justify-content-end" mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>
            Ok
        </button>
    </div>
</ng-template>

<ng-template #delDialog>
    <h1 mat-dialog-title>Bestätigen Sie das Löschen</h1>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
        <p>Wollen Sie wirklich löschen?</p>
    </div>
    <div class="justify-content-end" mat-dialog-actions>
        <button mat-raised-button color="primary" mat-dialog-close (click)="deleteBooking()">Ja</button>
        <button mat-raised-button color="accent" mat-dialog-close>Nein</button>
    </div>
</ng-template>