<form [formGroup]="travelerForm" class="col-md-12">
    <div class="form-row">
        <div class="form-group col-md-6">
            <!-- Firstname -->
            <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Vorname</mat-label>
                <input matInput formControlName="firstname" placeholder="Vorname" (click)="notifyOnDateOfBirthInvalid()"
                    required>
                <mat-error *ngIf="travelerForm.get('firstname').invalid">
                    Der Vorname ist <strong>erforderlich</strong>.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group col-md-6">
            <!-- Lastname -->
            <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Nachname</mat-label>
                <input matInput formControlName="lastname" placeholder="Nachname" (click)="notifyOnDateOfBirthInvalid()"
                    required>
                <mat-error *ngIf="travelerForm.get('lastname').invalid">
                    Der Nachname ist <strong>erforderlich</strong>.
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="form-group">
        <!-- Birthday -->
        <mat-form-field class="col-md-12" appearance="standard">
            <mat-label>Geburtsdatum</mat-label>
            <input matInput readonly (dateChange)="onDateSelected($event)" [matDatepicker]="datepicker"
                formControlName="birthday" (click)="clearDobError()" placeholder="Sie müssen mindestens 18 sein."
                required>
            <mat-datepicker-toggle matSuffix [for]="datepicker" (click)="clearDobError()"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Abbrechen</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Ok</button>
                </mat-datepicker-actions>
            </mat-datepicker>
            <mat-error *ngIf="travelerForm.get('birthday').invalid">
                Die Eingabe ist <strong>erforderlich</strong>.
            </mat-error>
            <mat-hint class="text-danger" *ngIf="errors.dateOfBirth">
                {{errors.dateOfBirth}}
            </mat-hint>
        </mat-form-field>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <!-- Email -->
            <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" (click)="notifyOnDateOfBirthInvalid()" required>
                <mat-error *ngIf="travelerForm.get('email').errors && travelerForm.get('email').hasError('required')">
                    Die E-Mail ist <strong>erforderlich</strong>.
                </mat-error>
                <mat-error *ngIf="travelerForm.get('email').errors && travelerForm.get('email').hasError('pattern')">
                    Bitte geben Sie eine gültige E-Mail Adresse ein.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group col-md-6">
            <!-- Phone -->
            <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Handy</mat-label>
                <input matInput formControlName="mobile" placeholder="+491000000000"
                    (click)="notifyOnDateOfBirthInvalid()" required>
                <mat-error *ngIf="travelerForm.get('mobile').errors && travelerForm.get('mobile').hasError('required')">
                    Die Nummer ist <strong>erforderlich</strong>.
                </mat-error>
                <mat-error *ngIf="travelerForm.get('mobile').errors && travelerForm.get('mobile').hasError('pattern')">
                    Die Eingabe ist ungültig.
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="form-group">
        <!-- Street -->
        <mat-form-field class="col-md-12" appearance="standard">
            <mat-label>Straße und Hausenummer</mat-label>
            <input matInput formControlName="street" placeholder="StrasseName Hnr."
                (click)="notifyOnDateOfBirthInvalid()" required>
            <mat-error *ngIf="travelerForm.get('street').errors && travelerForm.get('street').hasError('required')">
                Die Eingabe ist <strong>erforderlich</strong>.
            </mat-error>
            <mat-error *ngIf="travelerForm.get('street').errors && travelerForm.get('street').hasError('pattern')">
                Die Eingabe ist ungültig.
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <!-- Postal -->
            <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Postleitzahl</mat-label>
                <input matInput formControlName="postal" placeholder="Postleitzahl"
                    (click)="notifyOnDateOfBirthInvalid()" required>
                <mat-error *ngIf="travelerForm.get('postal').errors && travelerForm.get('postal').hasError('required')">
                    Die Postleitzahl ist <strong>erforderlich</strong>.
                </mat-error>
                <mat-error *ngIf="travelerForm.get('postal').errors && travelerForm.get('postal').hasError('pattern')">
                    Die Eingabe ist ungültig.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group col-md-6">
            <!-- City -->
            <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Ort</mat-label>
                <input matInput formControlName="city" placeholder="Ort" (click)="notifyOnDateOfBirthInvalid()"
                    required>
                <mat-error *ngIf="travelerForm.get('city').invalid">
                    Die Ort ist <strong>erforderlich</strong>.
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <!-- University -->
            <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Hochschule</mat-label>
                <input matInput formControlName="university" placeholder="Hochschule"
                    (click)="notifyOnDateOfBirthInvalid()" required>
                <mat-error *ngIf="travelerForm.get('university').invalid">
                    Der Hochschule Name ist <strong>erforderlich</strong>.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group col-md-6">
            <!-- Faculty -->
            <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Studiengang</mat-label>
                <input matInput formControlName="faculty" placeholder="Studiengang"
                    (click)="notifyOnDateOfBirthInvalid()" required>
                <mat-error *ngIf="travelerForm.get('faculty').invalid">
                    Der Studiengang ist <strong>erforderlich</strong>.
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <!-- Already participated -->
            <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Schon Teilgenommen</mat-label>
                <mat-select formControlName="participated" (click)="notifyOnDateOfBirthInvalid()" required>
                    <mat-option disabled>Auswaelen</mat-option>
                    <mat-option *ngFor="let value of chooseArray" [value]="value">{{value}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="travelerForm.get('participated').invalid">
                    Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group col-md-6">
            <!-- status -->
            <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Status</mat-label>
                <mat-select formControlName="participated" (click)="notifyOnDateOfBirthInvalid()" required>
                    <mat-option disabled>Auswaelen</mat-option>
                    <mat-option *ngFor="let value of statusArray" [value]="value">{{value}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="travelerForm.get('participated').invalid">
                    Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            <!-- Workfor -->
            <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Angestellt bei (Name der Firma)</mat-label>
                <input matInput formControlName="workfor" placeholder="Name eingeben"
                    (click)="notifyOnDateOfBirthInvalid()" [required]="false">
            </mat-form-field>
        </div>
    </div>
</form>