<div class="header bg-gradient-blue pb-6 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="text-center col-md-12">
          <em class="far fa-comment-alt text-white"></em>
          <h1 class="display-2 text-white">Feedbacks</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <!-- Filter -->
  <div class="row filter">
    <mat-form-field appearance="standard" class="col-md-12 text-white">
      <mat-label class="text-white">Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" class="text-white" #input>
    </mat-form-field>
  </div>
  <!-- Table -->
  <div class="row mt-4">
    <div class="col mt-2">
      <div class="mat-elevation-z4 col-12" *ngIf="dataSource.data.length > 0">
        <div class="spinner-container" *ngIf="dataSource.loading$ | async">
          <mat-spinner></mat-spinner>
        </div>
        <table mat-table [dataSource]="dataSource" matSort aria-describedby="email" class="shadow">
          <!-- Author Column -->
          <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">AUTOR</th>
            <td mat-cell *matCellDef="let row">{{row?.autor}}</td>
          </ng-container>

          <!-- Descrip. Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">BESCHREIBUNG</th>
            <td mat-cell *matCellDef="let row">{{extractDescription(row?.description)}}</td>
          </ng-container>

          <!-- status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Zustand</th>
            <td mat-cell *matCellDef="let row">
              <mat-icon *ngIf="!row?.veroefentlich" style="vertical-align:middle">timelapse</mat-icon> {{row?.veroefentlich ? 'öffentlich' : 'austehend'}}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef scope="col">ACTION</th>
            <td mat-cell *matCellDef="let row">
              <label class="mr-3" matTooltip="Editieren" matTooltipHideDelay="{{toolTipDuration}}"
                (click)="editDialog(row, dialog)">
                <em class="fa fa-pen text-info"></em>
              </label>
              <label matTooltip="Entfernen" matTooltipHideDelay="{{toolTipDuration}}">
                <em class="fa fa-trash text-red" (click)="deleteDialog(row, delDialog)"></em>
              </label>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Keine Daten, die dem Filter entsprechen "{{input.value}}"</td>
          </tr>
        </table>
        <!-- paginator -->
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of dataSource.data">
        </mat-paginator>
      </div>
      <p *ngIf="dataSource.data.length === 0" class="font-weight-600 pt-2"> Die Liste ist leer!</p>
    </div>
  </div>
</div>

<!-- Edit modal -->
<ng-template #dialog>
  <h1 mat-dialog-title>Information über das Feedback</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <mat-card class="col-md-12">
      <mat-card-header>
        <div mat-card-avatar class="header-img"></div>
        <mat-card-title>Autor: {{currentFeedback?.autor}}</mat-card-title>
        <mat-card-subtitle><label class="font-weight-600">Stand:</label> {{currentFeedback?.veroefentlich ? 'öffentlich' : 'austehend'}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image *ngIf="currentFeedback?.realImage" [src]="currentFeedback?.realImage" alt="{{currentFeedback?.autor}}_img" class="col-md-12">
      <img mat-card-image *ngIf="!currentFeedback?.realImage" [src]="defaultFeedbackImg" alt="default_img" class="col-md-12">
      <mat-card-content>
        <p>{{currentFeedback?.description}}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button mat-dialog-close (click)="commitChanges()">
          {{currentFeedback?.veroefentlich ? 'ABLEHNEN' : 'VERÖFFENTLICHEN'}}
        </button>
        <button mat-button mat-dialog-close color="accent">ABBRECHEN</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>

<!-- Delete confirmation dialog -->
<ng-template #delDialog>
  <h1 mat-dialog-title>Bestätigen Sie das Löschen</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <p>Wollen Sie wirklich das Feedback von <strong>{{currentFeedback?.autor}}</strong> löschen?</p>
  </div>
  <div class="justify-content-end" mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close (click)="deleteFeedback()">Ja</button>
    <button mat-raised-button color="accent" mat-dialog-close>Nein</button>
  </div>
</ng-template>

