<div class="header bg-gradient-green pb-6 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="text-center col-md-12">
          <em class="fa fa-user-edit text-white"></em>
          <h1 class="display-2 text-white">Benutzerprofil</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body pt-0 pt-md-4">
          <h2>Passwort ändern</h2>
          <hr class="mt-0 mb-0" />
          <form [formGroup]="formGroup" class="col-md-12">
            <div class="form-row">
              <div class="form-group col-md-12">
                <mat-form-field class="col-md-12 pl-0 pt-0" appearance="standard">
                  <mat-label>Altes Passwort</mat-label>
                  <input matInput [type]="hidePwd ? 'password' : 'text'" formControlName="oldpwd" required>
                  <button mat-icon-button matSuffix (click)="hidePwd = !hidePwd" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePwd">
                    <mat-icon>{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="formGroup.get('oldpwd').invalid">
                    Das Passwort muss mindestens 8 Zeichen lang sein.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <mat-form-field class="col-md-12 pl-0" appearance="standard">
                  <mat-label>Neues Passwort</mat-label>
                  <input matInput [type]="hidePwd ? 'password' : 'text'" formControlName="newpwd" required>
                  <button mat-icon-button matSuffix (click)="hidePwd = !hidePwd" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePwd">
                    <mat-icon>{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="formGroup.get('newpwd').invalid">
                    Das Passwort muss mindestens 8 Zeichen lang sein.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <button mat-raised-button color="primary" [disabled]="!isFormValid"
              (click)="savePassword()" class="mb-5">Speichern</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <img src="assets/img/brand/utc.PNG" class="rounded-circle" alt="profil">
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row mt-8 justify-content-center align-items-center">
            <div class="text-center mt-3">
              <h3>
                {{this.currentUser?.surname}} {{this.currentUser?.name}}
              </h3>
              <div class="h5 font-weight-300">
                {{this.currentUser?.email}}
              </div>
              <div class="h5 mt-4">
                Administrator/-in - University Travel Club
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
