/*######## Reiseangebot ########*/
.section-contents-RG {
  margin-top: 0;
  padding: 6em 2em;
}

.section-contents-RG .offers img {
  width: 100%;
  max-height: 650px !important;
  background-size: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: auto;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0.8em;
  margin-top: 0;
  margin-bottom: 0;
}

.overlay em {
  cursor: pointer;
}

.offers:hover .overlay {
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.offers:hover .overlay .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.offers:hover .overlay em {
  font-size: 2.6em;
}

.offers:hover .overlay .btn-link {
  background-color: var(--color-blue) !important;
  color: #ffffff;
  font-size: 10px;
  display: none;
  cursor: pointer;
}

.card-shadow {
  border-radius: 15px 15px 15px 15px !important;
}

.text-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 2rem;
}

.text-top-right {
  position: absolute;
  bottom: 90%;
  left: 94%;
}

.text-bottom-left h2 {
  font-size: 2.5rem !important;
}

.text-bottom-left small {
  font-size: 1.2rem;
}

.text-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 2rem;
}

.text-bottom-right .link {
  cursor: pointer;
  font-size: 1.3rem;
}

.text-bottom-right p:hover {
  color: #eee !important;
}

mat-card {
  margin-top: 4em;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.set-content-bottom {
  width: 95%;
}

.set-content-bottom h2 {
  margin-bottom: 3px;
}

.set-content-bottom .myRow {
  margin-bottom: -15px;
}

.mehrErfahren {
  font-family: "ubuntu medium" !important;
  letter-spacing: 2px;
  cursor: pointer;
}

.mehrErfahren:hover {
  font-size: 1.6rem !important;
}

/*######## Feedback ########*/
.display-flex {
  display : flex;
  flex-wrap : nowrap;
  flex-direction: row;
}

#feedback-title {
  margin-left: 2.2em;
}

#addFeedback {
  background-color: var(--color-blue) !important;
}

.bg-favorite {
  background-color: var(--color-blue) !important;
}

.isFavorite {
  color: #ee713F;
}

#feedback-pic {
  max-height: 40em;
}

.section-contents-FB {
  margin-top: 0;
  margin-bottom: 6em;
  padding: 0 2em;
}

.prev-btn, .next-btn {
  cursor: pointer;
  color: var(--color-blue) ;
}

.prev-btn:hover, .next-btn:hover {
  color: #000000;
}

.img-feedback  {
  width: auto;
  max-height: 450px !important;
}

.feedback-contents .feedback-message {
  padding: 0 1em;
}

#quotation-mark {
  margin-bottom: 2em;
}

.feedback-contents .message {
  font-size: 14px;
  letter-spacing: 2.5px;
}

.feedback-contents .autor {
  font-weight: bold;
}

.feedback-contents mat-icon {
  color: var(--color-blue) !important;
  cursor: pointer;
}

.set-left {
  margin-left: -3em;
  margin-bottom: 2em;
}


/*##################################### Display Screen settings ###################################*/
@media screen and (min-width: 993px) and (max-width: 1007px) {
  .text-top-right {
    left: 93%;
  }
}

@media screen and (max-width: 992px) {
  .text-top-right {
    left: 90%;
  }

  .set-content-bottom {
    position: relative !important;
  }

  .set-left {
    margin-left: auto !important;
  }
}

@media screen and (max-width: 778px) {
  .text-bottom-left h2 {
    font-size: 1.4rem !important;
  }

  .text-bottom-left small {
    display: none;
  }

  .text-bottom-right .link {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .text-top-right {
    left: 88%;
  }
}

@media screen and (max-width: 645px) {
  .text-top-right {
    left: 86%;
  }

  h1 {
    font-size: 22px !important;
  }
  
  h2 {
    font-size: 18px !important;
  }
  
  h3 {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 489px) {
  .text-top-right {
    left: 84%;
  }
}

@media screen and (max-width: 423px) {
  .text-top-right {
    bottom: 86%;
    left: 80%;
  }
}

@media screen and (max-width: 378px) {
  .text-bottom-left h2 {
    position: absolute;
    font-size: 1.3rem !important;
  }
}

@media screen and (max-width: 342px) {
  .text-top-right {
    bottom: 85%;
    left: 78%;
  }
}

@media screen and (max-width: 337px) {
  .text-bottom-left h2 {
    font-size: 1rem !important;
  }

  .text-top-right {
    bottom: 80%;
    left: 72%;
  }
}

@media screen and (max-width: 274px) {
  .text-top-right {
    bottom: 70%;
    left: 60%;
  }

  .text-bottom-left h2 {
    position: absolute;
    font-size: .9rem !important;
  }
}

