<!-- Carousel-Header -->
<ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" interval="{{slideList.length > 1 ? 5000 : 0}}"
  [keyboard]="true" [pauseOnHover]="true" [wrap]="true" [activeId]="'secondSlide'">
  <ng-template *ngFor="let slide of slideList; let i = index" ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/img/carousel/{{slide.image}}" alt="Slide {{i+1}}"/>
    </div>
    <div class="carousel-caption">
      <h1>{{slide.title}}</h1>
      <p>{{slide.description}}</p>
    </div>
  </ng-template>
</ngb-carousel>


<!-- Reiseangebot -->
<div class="section-contents-RG">
  <h2 class="black-color">Reiseangebot</h2>

  <div  *ngFor="let gebot of reiseAngebot">
    <mat-card class="card-shadow white-color" [style]= setBackground(gebot.id)>
      <div class="set-content-bottom">
        <h2 class="white-color">{{gebot.name | uppercase}}</h2>
        <p>
          {{setDate(gebot.id, 'startDate')}}
          {{setDate(gebot.id, 'endDate')}}
        </p>

        <div class="myRow">
          <p>Freie Plätze:
            <span class="font-weight-bold">
              {{getTripOffer(gebot.id).freiPlaetze}}/{{getTripOffer(gebot.id).plaetze}}
            </span>
          </p>
          <p class="mehrErfahren set-content-right" (click)="routeToLearnMore(gebot.id)">MEHR ERFAHREN ></p>
        </div>
        <p>Interessierte:
          <span class="font-weight-bold">{{getTripOffer(gebot.id).interessiert}}</span>
        </p>

      </div>
    </mat-card>
  </div>
</div>


<!-- Feedback -->
<div class="section-contents-FB">
  <div class="myRow">
    <h2 class="black-color" id="feedback-title">Feedback</h2>

    <button style="float: right !important;" mat-mini-fab aria-label="add icon" class="set-content-right"
            matTooltip="Feedback teilen" (click)="feedbackTeilenDialog(feedbackDialog)" id="addFeedback">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="feedback-contents myRow">
    <img src="./assets/img/feedback/{{currentFb.bild}}"
         alt="FeebackBild-{{currentIndex + 1}}" id="feedback-pic">

    <div class="feedback-message">
      <img src="../../../assets/img/anführungszeichnen.PNG" alt="Anführungszeichnen" id="quotation-mark">
      <p class="message">{{currentFb.description}}</p>
      <p class="autor">{{currentFb.autor}}</p>
      <p>
        <b>{{currentIndex + 1}} / {{feedbacks.length}}</b>
        <mat-icon class="margin-left margin-bottom" (click)="feedbackAktion('prev')">keyboard_arrow_left</mat-icon>
        <mat-icon class="margin-bottom" (click)="feedbackAktion('next')">keyboard_arrow_right</mat-icon>
      </p>
    </div>
  </div>
</div>


<!-- New feedback dialog -->
<ng-template #feedbackDialog>
  <h2 mat-dialog-title>Ihres Feedback senden</h2>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <app-feedback-form></app-feedback-form>
  </div>
</ng-template>
