/*######## Carousel ########*/

ngb-carousel {
  max-width: 100%;
  z-index: 0;
  top: 0;
}

ngb-carousel img {
  width: 100%;
  height: 100vh;
  outline: none;
}

ngb-carousel {
  width: inherit;
  height: inherit;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
  height: 100vh;
  min-height: 300px;
}

.carousel-item.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
  z-index: 20;
}

.carousel-control-next {
  z-index: 20;
}

.carousel-indicators {
  z-index: 20;
}

.carousel-caption {
  left: 0;
  bottom: 10%;
}

.carousel-caption h1 {
  font-size: 80px !important;
  margin-top: 20px;
  color: #fff;
}

.carousel-caption p {
  font-size: 18px;
  margin: 3% 0 0 6%;
  line-height: 1.5;
  text-align: left;
  width: 25em;
}


/*######## Reiseangebot ########*/

.section-contents-RG {
  margin-top: 30px;
  padding: 6em;
}

mat-card {
  margin-top: 4em;
  min-height: 600px;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.set-content-bottom {
  width: 95%;
}

.set-content-bottom h2 {
  margin-bottom: 3px;
}

.set-content-bottom .myRow {
  margin-bottom: -15px;
}

.mehrErfahren {
  font-family: "ubuntu medium" !important;
  cursor: pointer;
}


/*######## Feedback ########*/

#feedback-title {
  margin-left: 2.2em;
}

#addFeedback {
  background-color: #2D92AB !important;
}

#feedback-pic {
  /*max-width: 50%;*/
  max-height: 40em;
}

.section-contents-FB {
  margin-top: 30px;
  padding: 6em 6em 6em 0;
}

.section-contents-FB .myRow {
  margin-bottom: 1em;
}

.feedback-contents .feedback-message {
  padding: 0 1em;
}

#quotation-mark {
  margin-bottom: 2em;
}

.feedback-contents .message {
  font-size: 14px;
  letter-spacing: 2.5px;
}

.feedback-contents .autor {
  font-weight: bold;
}

.feedback-contents mat-icon {
  color: #2D92AB !important;
  cursor: pointer;
}

