<form [formGroup]="countryInfoForm" class="col-md-12">
  <div class="form-row">
    <div class="form-group col-md-12">
      <!-- Title -->
      <mat-form-field class="col-md-12" appearance="standard">
        <mat-label>Titel</mat-label>
        <input matInput formControlName="title" placeholder="Titel" required>
        <mat-error *ngIf="countryInfoForm.get('title').invalid">
          Der Titel ist <strong>erforderlich</strong>.
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <!--description-->
      <mat-form-field class="col-md-12" appearance="standard">
        <mat-label>Beschreibung</mat-label>
        <textarea matInput formControlName="description" required></textarea>
        <mat-error *ngIf="countryInfoForm.get('description').invalid">
          Die Beschreibung ist <strong>erforderlich</strong>.
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
