<mat-card>
  <mat-card-title>
    <button mat-mini-fab color="primary" aria-label="back icon" matTooltip="Zurück zur Liste"
      matTooltipHideDelay="{{ toolTipDuration }}" (click)="navigateToCountriesList()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-card-title>
  <mat-divider inset></mat-divider>
  <mat-card-content class="mt-3">
    <!--form-->
    <form [formGroup]="countryForm" class="col-md-12">
      <!-- Name -->
      <div class="form-group">
        <mat-form-field class="col-md-6" appearance="standard">
          <mat-label>Name des Landes</mat-label>
          <input matInput formControlName="name" placeholder="Name des Landes" required>
          <mat-error *ngIf="countryForm.get('name').invalid">
            Der Name ist <strong>erforderlich</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <!--Airport-->
      <div class="form-group">
        <mat-form-field class="col-md-12" appearance="standard">
          <mat-label>Flughäfen</mat-label>
          <mat-chip-list #airportsList aria-label="Flughäfen" multiple required>
            <mat-chip *ngFor="let airport of airportsArray" [selected]="airport" [value]="airport"
              (removed)="removeAirport(airport)">
              {{airport}}
            </mat-chip>
            <input placeholder="Neuer Flughafen..." formControlName="airports" [matChipInputFor]="airportsList"
              (matChipInputTokenEnd)="addAirportFromInput($event)">
          </mat-chip-list>
          <mat-error *ngIf="countryForm.get('airports').invalid">
            Die Eingabe ist <strong>erforderlich</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <!--Highlights-->
      <div class="form-row">
        <div class="form-group col-md-12">
          <mat-grid-list cols="4" rowHeight="6em" class="col-md-12">
            <!--Highlight input-->
            <mat-grid-tile [colspan]="3">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Highlights</mat-label>
                <mat-chip-list #highlightsList aria-label="Highlights hinzufügen" required>
                  <mat-chip *ngFor="let highlight of highligthsArray" (removed)="removeHighlight(highlight)">
                    {{highlight}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input placeholder="Neues Highlight..." #highlightInput formControlName="highlights"
                    [matAutocomplete]="auto" [matChipInputFor]="highlightsList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addHighlight($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let highlight of filteredHighlights | async" [value]="highlight">
                    {{highlight}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="countryForm.get('highlights').invalid">
                  Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <!--Add new highlight button-->
            <mat-grid-tile [colspan]="1">
              <button mat-mini-fab color="primary" aria-label="add icon" matTooltip="Neues Highlight hinzufügen"
                matTooltipHideDelay="{{ toolTipDuration }}" (click)="addHighlightDialog(highlightDialog)">
                <mat-icon>add</mat-icon>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
      <!--Accommodation-->
      <div class="form-row">
        <div class="form-group col-md-12">
          <mat-grid-list cols="4" rowHeight="6em" class="col-md-12">
            <!--accommodation input-->
            <mat-grid-tile [colspan]="3">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Unterkünfte</mat-label>
                <mat-chip-list #accommodationsList aria-label="Unterkunft hinzufügen" required>
                  <mat-chip *ngFor="let accommodation of accommodationsArray"
                    (removed)="removeAccommodation(accommodation)">
                    {{accommodation}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input placeholder="Neue Unterfunkt..." #accommodationInput formControlName="accommodations"
                    [matAutocomplete]="auto" [matChipInputFor]="accommodationsList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addAccommodation($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedAccommodation($event)">
                  <mat-option *ngFor="let accommodation of filteredAccommodations | async" [value]="accommodation">
                    {{accommodation}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="countryForm.get('accommodations').invalid">
                  Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <!--Add new accommodation button-->
            <mat-grid-tile [colspan]="1">
              <button mat-mini-fab color="primary" aria-label="add icon" matTooltip="Neue Unterkunft hinzufügen"
                matTooltipHideDelay="{{ toolTipDuration }}" (click)="addAccommodationDialog(accommodationDialog)">
                <mat-icon>add</mat-icon>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
      <!--Info-->
      <div class="form-row">
        <div class="form-group col-md-12">
          <mat-grid-list cols="4" rowHeight="6em" class="col-md-12">
            <!--Country info input-->
            <mat-grid-tile [colspan]="3">
              <mat-form-field class="col-md-12" appearance="standard">
                <mat-label>Informationen</mat-label>
                <mat-chip-list #infoList aria-label="Information hinzufügen" required>
                  <mat-chip *ngFor="let info of countriesInfoArray" (removed)="removeCountryInfo(info)">
                    {{info}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input placeholder="Neue Information..." #countryInfoInput formControlName="countryinfo"
                    [matAutocomplete]="auto" [matChipInputFor]="infoList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addCountryInfo($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedCountryInfo($event)">
                  <mat-option *ngFor="let info of filteredCountriesInfo | async" [value]="info">
                    {{info}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="countryForm.get('countryinfo').invalid">
                  Die Eingabe ist <strong>erforderlich</strong>.
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <!--Add new information button-->
            <mat-grid-tile [colspan]="1">
              <button mat-mini-fab color="primary" aria-label="add icon" matTooltip="Neue Information hinzufügen"
                matTooltipHideDelay="{{ toolTipDuration }}" (click)="addCountryInfoDialog(countryInfoDialog)">
                <mat-icon>add</mat-icon>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-raised-button color="primary">Speichern</button>
    <button mat-button (click)="navigateToCountriesList()">Abbrechen</button>
  </mat-card-actions>
</mat-card>

<!-- Add Highligth modal-->
<ng-template #highlightDialog>
  <h1 mat-dialog-title>Neues Highlight hinzufügen</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <app-highlight-form (notifyFormIsValid)="isModalFormValid($event)"></app-highlight-form>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close [disabled]="!isValid" (click)="saveNewHighlight()">
      Speichern
    </button>
    <button mat-raised-button color="accent" mat-dialog-close>
      Abbrechen
    </button>
  </div>
</ng-template>

<!-- Add accommodation modal-->
<ng-template #accommodationDialog>
  <h1 mat-dialog-title>Neue Unterfunkt hinzufügen</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <app-accommodation-form (notifyFormIsValid)="isModalFormValid($event)"></app-accommodation-form>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close [disabled]="!isValid" (click)="saveNewAccommodation()">
      Speichern
    </button>
    <button mat-raised-button color="accent" mat-dialog-close>
      Abbrechen
    </button>
  </div>
</ng-template>

<!-- Add country info modal-->
<ng-template #countryInfoDialog>
  <h1 mat-dialog-title>Neue Information über des Landes hinzufügen</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <app-country-information-form (notifyFormIsValid)="isModalFormValid($event)"></app-country-information-form>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close [disabled]="!isValid" (click)="saveNewCountryInfo()">
      Speichern
    </button>
    <button mat-raised-button color="accent" mat-dialog-close>
      Abbrechen
    </button>
  </div>
</ng-template>
