<form [formGroup]="mailForm" class="col-md-12" *ngIf="!sent">
    <mat-card class="col-md-12">
        <mat-card-header>
            <mat-card-title>E-Mail erfassen</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mb--4">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <mat-form-field class="col-md-12" appearance="fill">
                        <mat-label>An</mat-label>
                        <mat-select [formControl]="recipients" multiple required>
                            <mat-select-trigger>
                                {{recipients.value && recipients.value.length == 1 ? recipients.value[0] : ''}}
                                {{recipients.value && recipients.value.length >= 2 ? recipients.value[0] + ', ' +
                                recipients.value[1] : ''}}
                                <span *ngIf="recipients.value?.length > 2">
                                    (+{{recipients.value.length - 2}} {{recipients.value?.length === 3 ? 'other' :
                                    'others'}})
                                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let recipient of recipientList" [value]="recipient">{{recipient}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="recipients.invalid">
                            Die Eingabe ist <strong>erforderlich</strong>.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <mat-form-field class="col-md-12" appearance="fill">
                        <mat-label>Betreff</mat-label>
                        <input matInput formControlName="subject" placeholder="Betreff" [required]="false">
                    </mat-form-field>
                </div>
            </div>
            <!--message-->
            <div class="form-row">
                <div class="form-group col-md-12 mb-1">
                    <mat-form-field class="col-md-12" appearance="fill">
                        <mat-label>Nachricht</mat-label>
                        <textarea matInput formControlName="msg" required></textarea>
                        <mat-error *ngIf="mailForm.get('msg').invalid">
                            Die Eingabe ist <strong>erforderlich</strong>.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!--filenames-->
            <div class="form-row" *ngIf="fileNames.length > 0">
                <div class="form-group col-md-12 mb-0">
                    <mat-form-field class="col-md-12" appearance="fill">
                        <mat-label>ausgewählte {{fileNames.length > 1 ? 'Dateien' : 'Datei'}}</mat-label>
                        <input matInput value="{{fileNames}}" [required]="false" disabled="true">
                    </mat-form-field>
                </div>
            </div>
            <!--file-->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="file" class="file-input" [accept]="pdfFileType" (change)="onPdfSelected($event)"
                        #pdfUpload multiple>
                    <input type="file" class="file-input" [accept]="requiredFileType" (change)="onFileSelected($event)"
                        #fileUpload multiple>
                    <div class="file-upload" [ngStyle]="{top: fileNames.length == 0 ? '-3.4em' : '-8.4em'}">
                        {{fileNames.length == 1 ? '( ' + fileNames.length + ' Datei )' : fileNames.length > 1 ? '( ' +
                        fileNames.length + ' Dateien )' : ''}}
                        <i class="fa fa-file-pdf mr-3 text-danger" (click)="pdfUpload.click()" matTooltip="Pdf anhängen"
                            matTooltipHideDelay="{{ toolTipDuration }}"></i>
                        <i class="fa fa-paperclip" (click)="fileUpload.click()" matTooltip="Datei(en) anhängen"
                            matTooltipHideDelay="{{ toolTipDuration }}"></i>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-end">
            <button class="ml-4" (click)="sendToAll()" mat-fab color="primary" aria-label="send"
                [disabled]="!recipients.value || !mailForm.get('msg').value" matTooltip="Senden"
                matTooltipHideDelay="{{ toolTipDuration }}">
                <mat-icon>send</mat-icon>
            </button>
            <button mat-button (click)="navigateToNewsletter()" matTooltip="Abbrechen"
                matTooltipHideDelay="{{ toolTipDuration }}">Abbrechen</button>
        </mat-card-actions>
    </mat-card>
</form>

<div *ngIf="sent" class="col-md-12 d-flex justify-content-center">
    <mat-card class="col-md-6">
        <mat-card-header class="justify-content-center">
            <mat-card-title>
                <i class="fa fa-check-circle display-2 text-success"></i>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="text-center font-weight-600">
                Die E-Mail wurde erfolgreich gesendet!
            </p>
            <div class="col-md-12 p-2">
                <mat-divider></mat-divider>
                <p class="font-weight-600">An:</p>
                <ul class="mt-2">
                    <li *ngFor="let recipient of recipients.value" class="font-weight-500 mt-2">{{recipient}}</li>
                </ul>
                <mat-divider></mat-divider>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button class="ml-4" (click)="navigateToNewsletter()" mat-raised-button color="primary"
                aria-label="Back to newsletter">
                Ok
            </button>
        </mat-card-actions>
    </mat-card>
</div>