<form [formGroup]="adminForm" class="col-md-12">
  <!-- Name -->
  <div class="form-row">
    <div class="form-group col-md-6">
      <mat-form-field class="col-md-12" appearance="standard">
        <mat-label>Vorname</mat-label>
        <input matInput formControlName="firstname" placeholder="Vorname" required>
        <mat-error *ngIf="adminForm.get('firstname').invalid">
          Die Eingabe ist <strong>erforderlich</strong>.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <mat-form-field class="col-md-12" appearance="standard">
        <mat-label>Name</mat-label>
        <input matInput formControlName="lastname" placeholder="Nachname" required>
        <mat-error *ngIf="adminForm.get('lastname').invalid">
          Die Eingabe ist <strong>erforderlich</strong>.
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <!-- Email -->
  <div class="form-row">
    <div class="form-group col-md-12">
      <mat-form-field class="col-md-12" appearance="standard">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" required>
        <mat-error *ngIf="adminForm.get('email').invalid">
          Bitte geben Sie eine gültige E-Mail Adresse ein.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <!-- Password -->
  <div class="form-row">
    <div class="form-group col-md-12">
      <mat-form-field class="col-md-12" appearance="standard">
        <mat-label>Passwort</mat-label>
        <input matInput [type]="hidePwd ? 'password' : 'text'" formControlName="pwd" required>
        <button mat-icon-button matSuffix (click)="hidePwd = !hidePwd" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePwd">
          <mat-icon>{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="adminForm.get('pwd').invalid">
          Das Passwort muss mindestens 8 Zeichen lang sein.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <!-- Password repeat -->
  <div class="form-row">
    <div class="form-group col-md-12">
      <mat-form-field class="col-md-12" appearance="standard">
        <mat-label>Passwort wiederholen</mat-label>
        <input matInput [type]="hideConfirmPwd ? 'password' : 'text'" formControlName="pwdRepeat" required>
        <button mat-icon-button matSuffix (click)="hideConfirmPwd = !hideConfirmPwd" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideConfirmPwd">
          <mat-icon>{{hideConfirmPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="adminForm.get('pwdRepeat').invalid">
          Das Passwort muss mindestens 8 Zeichen lang sein.
        </mat-error>
        <mat-hint class="text-danger"
          *ngIf="adminForm.get('pwd').valid && adminForm.get('pwdRepeat').valid && adminForm.get('pwd').value !== adminForm.get('pwdRepeat').value">
          Das Passwort stimmt nicht überein.
        </mat-hint>
      </mat-form-field>
    </div>
  </div>
</form>
