<body>
  <a id="main-page-btn" routerLinkActive="active" [routerLink]="['/dashboard']">< ZURÜCK ZUR MAINPAGE</a>

  <!-- Spinner -->
  <app-spinner *ngIf="!loadFinished"></app-spinner>

  <!-- Body Contents -->
  <div *ngIf="loadFinished">

    <!-- Rise Info und Map -->
    <div class="travel-info-header">
      <h2>{{currentTripOffer?.titel}}</h2>

      <p>
        <span class="mr-2">{{currentTripOffer?.startDatum | date: 'dd. MMM'}}</span>
        - &nbsp;
        <span>{{currentTripOffer?.endDatum | date: 'dd. MMM yyyy'}}</span>
      </p>
      <div class="myRow">
        <p>
          Freie Plätze: <span class="font-weight-bold">{{currentTripOffer?.freiPlaetze}}/{{currentTripOffer?.plaetze}}</span>
          <span>
            &nbsp; - &nbsp; Interessierte: <span class="font-weight-bold">{{currentTripOffer?.interessiert}}</span>
          </span>
        </p>
        <h3 *ngIf = "currentTripOffer?.freiPlaetze <= 0" class="set-content-right"> Keine Plätze mehr !</h3>
        <h3 *ngIf = "anmeldeFristVorbei" class="set-content-right"> Der Anmeldefrist ist vorbei !</h3>
        <button mat-button class="booking-btn"
                [ngStyle]="backgroundColor" (click)="bookingFormDialog()"
                [disabled]="currentTripOffer?.freiPlaetze <= 0 || anmeldeFristVorbei">
          <span id="reserve-place">PLATZ RESERVIEREN ></span>
          <span id="reserve">RESERVIEREN ></span>
        </button>
      </div>

      <div class="travel-map">
        <img class="img-fluid" [src]="currentLand?.realImage">
        <p>{{currentLand?.name | uppercase}} - REISEROUTE</p>
      </div>
    </div>

    <!-- Highlights list -->
    <div class="highlight-contents">
      <h2>Die Highlights im Überblick</h2>

      <div class="row" *ngIf="currentLand?.highlights?.length > 0">
        <div class="col-md-4 mb-6 d-flex" *ngFor="let item of currentLand.highlights; let i=index">
          <mat-card class="col-md-12" [ngStyle]="matCardShadowHighlight">
            <img mat-card-image [src]="item?.realImage" alt="{{item?.name}}-Bild">
            <mat-card-content>
              <h3>{{item?.name}}</h3>
              <p>{{item?.description}}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div *ngIf="currentLand?.highlights?.length === 0">
        <p>Keine Highlights vorhanden!</p>
      </div>
    </div>

    <!-- Fakten-Check -->
    <div class="fakten-check-contents">
      <h2>Fakten-Check</h2>

      <div class="row">
        <div class="col-sm-7 d-flex">
          <mat-card id="mat-card-group-1" class="col-ms-12" [ngStyle]="matCardShadow">
            <mat-card-content>
              <!--      REISEZEITRAUM      -->
              <div class="reisezeitraum">
                <h3>REISEZEITRAUM</h3>
                <h4 [style]="fontColor">
                  <span class="mr-2">{{currentTripOffer?.startDatum | date: 'dd. MMMM' | uppercase}}</span>
                  - &nbsp;
                  <span>{{currentTripOffer?.endDatum | date: 'dd. MMMM yyyy' | uppercase}}</span>
                  / {{getNumberOfDays()}} TAGE BZW. {{getNumberOfDays() - 2}} ÜBERNACHTUNGEN
                </h4>
                <p>
                  Der Abflug findet wahlweise von den Flughäfen
                  <b>Berlin</b>, <b>Düsseldorf</b>, <b>Frankfurt</b> und <b>München</b> statt.
                  Weitere Flughäfen können auf Anfrage gerne auch gebucht werden.
                </p>
              </div>

              <!--      BUCHUNGSKLASSEN      -->
              <div class="buchungsklassen">
                <h3>BUCHUNGSKLASSEN</h3>

                <div class="klassen" *ngFor="let item of currentTripOffer?.buchungsklassenReadListTO">
                  <h4 [ngStyle]="fontColor">
                    {{item.type | uppercase}}
                    <span *ngIf="item.type.toLowerCase().includes('studenten-tarif' || 'studenten tarif' || 'studententarif')">*</span>
                  </h4>
                  <ul>
                    <li>{{item.description}}</li>
                  </ul>
                </div>

                <div>
                  <p>
                    <span class="font-weight-bold">WICHTIGER HINWEIS:</span>  {{currentTripOffer?.hinweise}}
                  </p>

                  <small [ngStyle]="fontColor" *ngIf="currentTripOffer?.sonstigeHinweise">
                    <span class="font-weight-bold">{{currentTripOffer?.sonstigeHinweise.split(':')[0] | uppercase}}: </span>
                    <br>{{currentTripOffer.sonstigeHinweise.split(':')[1] | uppercase}}
                  </small>
                </div>

              </div>

              <!--      WER DARF MIT?      -->
              <div class="wer-darf-mit">
                <h3>WER DARF MIT?</h3>
                <h4>Mitreiseberechtigt sind:</h4>

                <ul>
                  <li *ngFor="let person of currentTripOffer.mitReiserBerechtigt">{{person}}</li>
                </ul>

                <p>Bitte hab Verständnis dafür, dass nicht-immatrikulierte Partner, Verwandte und Freunde
                  deshalb nicht dabei sein können.</p>
              </div>

            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm-5 d-flex">
          <mat-card id="mat-card-group-2" class="col-ms-12" [ngStyle]="matCardShadow">
            <mat-card-content>
              <!--      KOSTEN      -->
              <div class="kosten">
                <h3>KOSTEN</h3>
                <table mat-table [dataSource]="bookingClassesDataSource">
                  <!-- TARIFE Column -->
                  <ng-container matColumnDef="tarife">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]="backgroundColor">TARIFE</th>
                    <td mat-cell *matCellDef="let element"
                        [style]="element.type.toLowerCase().includes('studenten-tarif' || 'studenten tarif' || 'studententarif') ? fontColor : null">
                      {{element.type | uppercase}}
                      <span *ngIf="element.type.toLowerCase().includes('studenten-tarif' || 'studenten tarif' || 'studententarif')">*</span>
                    </td>
                  </ng-container>

                  <!-- PREISE Column -->
                  <ng-container matColumnDef="preise">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]="backgroundColor">PREISE</th>
                    <td mat-cell *matCellDef="let element"
                        [style]="element.type.toLowerCase().includes('studenten-tarif' || 'studenten tarif' || 'studententarif') ? fontColor : null">
                      {{element.preis}}.-</td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <h4></h4>
                <p></p>
              </div>

              <!--      INKLUDIERTE LEISTUNGEN      -->
              <div class="inkludierte-leistung">
                <h3>INKLUDIERTE LEISTUNGEN</h3>
                <ul>
                  <li *ngFor="let leistung of currentTripOffer?.leistungen">{{leistung}}</li>
                </ul>
              </div>

              <!--      ANMELDEFRIST      -->
              <div class="anmeldefrist">
                <h3>ANMELDEFRIST</h3>
                <p class="frist" [ngStyle]="fontColor">{{currentTripOffer?.anmeldungsFrist | date: 'dd. MMMM yyyy'}}</p>
                <p>
                  Es gibt
                  <span class="font-weight-bold">{{currentTripOffer?.freiPlaetze}} freie Plätze</span> und
                  <span class="font-weight-bold">{{currentTripOffer?.interessiert}} Interessierte</span>.
                  <br>Anmeldung nur solange genügend Plätze da sind.
                </p>
              </div>

              <!--      ERWARTUNGEN      -->
              <div class="erwartungen">
                <h3>ERWARTUNGEN</h3>

                <div class="row" [ngStyle]="fontColor">
                  <div class="col-sm-6">
                    <div class="col-sm-12">
                      ABENTEUER: <app-stars [appreciation]="currentTripOffer?.erwartungenReadListTO?.abenteuer"></app-stars>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="col-sm-12">
                      ENTSCHLEUNIGUNG: <app-stars [appreciation]="currentTripOffer?.erwartungenReadListTO?.entschleunigung"></app-stars>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="col-sm-12">
                      KOMFORT: <app-stars [appreciation]="currentTripOffer?.erwartungenReadListTO?.konfort"></app-stars>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="col-sm-12">
                      NACHHALTLIGKEIT: <app-stars [appreciation]="currentTripOffer?.erwartungenReadListTO?.nachhaltigkeit"></app-stars>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="col-sm-12">
                      SONNE & STRAND: <app-stars [appreciation]="currentTripOffer?.erwartungenReadListTO?.sonne_strand"></app-stars>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="col-sm-12">
                      SICHERHEIT: <app-stars [appreciation]="currentTripOffer?.erwartungenReadListTO?.sicherheit"></app-stars>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="col-sm-12">
                      ON THE ROAD: <app-stars [appreciation]="currentTripOffer?.erwartungenReadListTO?.road"></app-stars>
                    </div>
                  </div>

                </div>
              </div>

            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <!-- Ablauf der Reise -->
    <div class="ablauf-contents">
      <h2>Ablauf der Reise</h2>

      <h3>UNTERKÜNFTE</h3>
      <p class="unterkünfte-text">{{currentLand?.unterkunft_text}}</p>

      <div class="row" *ngIf="currentLand?.unterkunft">
        <div class="col-md-12" *ngFor="let item of currentLand.unterkunft; let i=index">
          <div class="row col-md-12 mb-6">
            <h1 id="index" class="row col-md-1" [ngStyle]="fontColor">{{i + 1}}</h1>
            <div class="col-md-7">
              <h3 [ngStyle]="fontColor">{{item.name}}</h3>
              <a [ngStyle]="fontColor" routerLinkActive="active" href="{{item.link}}">{{item.link}}</a>

              <p><span class="font-weight-bold">Adresse:</span> {{item.adresse}}</p>

              <p>{{item.beschreibung}}</p>
            </div>
            <div class="row col-md-4 mb-5" *ngFor="let bild of item.bilder">
              <img class="col-md-6 img-fluid" [src]="getImage(bild)" alt="Bild-Bild-{{i+1}}a">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Länderinfo | Gesundheit & Sicherheit -->
    <div class="landInfos-contents">
      <h2>Länderinfo | Gesundheit & Sicherheit</h2>

      <mat-card [ngStyle]="matCardShadow">
        <mat-card-content *ngFor="let info of currentLand?.landInfo; let i=index">
          <mat-expansion-panel class="mb-2" [expanded]="checkIfExpanded(i)" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>{{info?.titel | uppercase}}</mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{info?.description}}</p>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</body>
