body {
  padding: 10em 5em 1em 5em;
}

#main-page-btn {
  font-family: "ubuntu";
  font-size: 15px;
}

.travel-info-header {
  margin-top: 3em;
}

#main-page-btn,
.travel-info-header h2,
.travel-info-header p {
  color: #000000;
}

.travel-info-header .myRow {
  align-items: baseline;
  margin-top: -2px;
}

.travel-info-header mat-card {
  margin-top: 1em;
  min-height: 600px;

  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
}

.travel-info-header mat-card p {
  font-family: "ubuntu bold" !important;
  letter-spacing: 0.5px !important;
  margin-right: 0 !important;
  color: #fff;
}

button {
  color: #FFFFFF;
}

.highlight-contents,
.fakten-check-contents,
.ablauf-contents,
.landInfos-contents
{
  margin-top: 5em;
}

.highlight-contents h2,
.fakten-check-contents h2,
.ablauf-contents h2,
.landInfos-contents h2
{
  margin-bottom: 1em !important;
  color: #000000;
}

.highlight-contents mat-card {
  min-width: 300px;
}

.highlight-contents mat-card h3 {
  color: #000000;
}

.mat-card-img {
  height: 50%;
}

.fakten-check-contents {

}

.fakten-check-contents mat-card {
  padding: 2em;
  min-height: 1300px;
}

#mat-card-group-1 {
  padding-right: 4em;
}

.buchungsklassen .klassen {
  width: 70%;
}


.fakten-check-contents h3,
.fakten-check-contents h4,
.ablauf-contents h3 {
  font-family: "ubuntu bold" !important;
  color: #000000;
}

.buchungsklassen ul li {
  font-family: "american typewriter";
}

.wer-darf-mit h4 {
  font-family: "american typewriter bold" !important;
}

/*.landInfos-contents mat-expansion-panel {*/
/*  font-family: "ubuntu bold";*/
/*}*/

.landInfos-contents mat-panel-title,
.buchungsklassen h4
{
  font-family: "ubuntu bold";
}

.reisezeitraum, .buchungsklassen, .wer-darf-mit,
.kosten, .inkludierte-leistung, .anmeldefrist {
  margin-bottom: 4em;
}

.kosten table, .erwartungen table {
  width: 100%;
  height: 100%;
}

.kosten table th {
  color: #FFFFFF;
  font-family: "ubuntu bold";
  font-size: 18px;
}

.frist, #index {
  font-family: "ubuntu bold" !important;
}

.ablauf-contents h3 {
  margin-bottom: -0.5px;
}

.unterkünfte-text {
  margin-top: 1em;
  margin-bottom: 3em;
}

#index {
  font-size: 60px !important;
}
