<div class="header bg-gradient-blue pb-7 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body statistics">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6" *ngFor="let stat of statistics">
          <a (click)="navigateToUrl(stat.link)">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title font-weight-bold text-uppercase">{{stat.title}}</h5>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape {{stat.badge_bg}} text-white rounded-circle shadow">
                      {{stat.total}}
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-nowrap">{{stat.text}}</span>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mb-4 {{loading ? 'mt-5' : 'mt--6'}}">
  <app-spinner *ngIf="loading"></app-spinner>
  <div class="row mt-5" *ngIf="!loading">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-10">
              <h3 class="mb-0">Aktuelle Reiseangebote</h3>
              <small class="text-black">
                <em class="fa fa-info-circle mr-1 text-info"></em>
                Es werden here nur angezeigt, Angebote die schon das Ziel und die Buchungsklasse(n) gesetzt wurde.
              </small>
            </div>
            <div class="col text-right">
              <a [routerLink]="['/' + RoutingPaths.TRIP_OFFERS]" class="btn btn-sm btn-primary">Alle</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush" aria-label="offer">
            <thead class="thead-light">
              <tr class="text-center">
                <th scope="col">Name</th>
                <th scope="col">Ziel</th>
                <th scope="col">Interessenten</th>
                <th scope="col">Absprungrate</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let offer of currentTripoffers" class="text-center">
                <th scope="row">{{offer.name}}</th>
                <td>{{offer.destination}}</td>
                <td>{{offer.interestAmount}}</td>
                <td>{{offer.rate}}%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Reservierungen</h3>
              <small>Buchungsübersicht</small>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush" aria-label="offer reservation">
            <thead class="thead-light">
              <tr class="text-center">
                <th scope="col">Plätze</th>
                <th scope="col">Freiplätze</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let offer of currentTripoffers" class="text-center">
                <th scope="row">{{offer.totalplace}}</th>
                <td>{{offer.freeplace}}</td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">{{offer.reservation}}%</span>
                    <div>
                      <div class="progress">
                        <mat-progress-bar mode="determinate" color="{{offer.reservation < 50 ? 'accent' : 'primary'}}"
                          value="{{offer.reservation}}"></mat-progress-bar>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
