.bg-gradient-blue {
    background-color: #2D92AB;
}

.color-gradient-blue {
    color: #2D92AB;
}

h1 {
  font-size: 30px !important;
}

h2 {
  font-size: 26px !important;
}

h3 {
  font-size: 20px !important;
}
