.bg-gradient-blue {
  background-color: #2d92ab;
}

.table-responsive {
  min-height: 52vh;
}

.table td .progress {
  width: 90px;
}

.color-gradient-blue {
  color: #2d92ab;
}

h1 {
  font-size: 30px !important;
}

h2 {
  font-size: 26px !important;
}

h3 {
  font-size: 20px !important;
}

.icon-shape em,
.icon-shape svg {
  font-size: 1.25rem;
}
