<div class="container mt-4 mb-4">
  <div class="row justify-content-center">
    <div class="col-12 title d-flex justify-content-left">
      <h1>University Travel Club</h1>
    </div>
    <div class="col-sm-12 col-md-7">
      <div class="article">
        <h3>» Zusammen die Welt erleben«</h3>
        <p>
          <span class="bold">Markenkern<br />
            »Die Essenz der der Marke« </span><br />
          Zentrale Idee/Kernaussage der Marke. Das was die Marke anstrebt zu
          sein. Werte, die glaubwürdig als Alleinstellungsmerkmal für das
          Unternehmen stehen.<br />
          <span class="bold">Differenziatoren <br />»Das künftige Leistungsversprechen der
            Marke«</span>
          <br />
          Stark differenzierende Eigenschaften, die beschreiben, was das
          Unternehmen besonders macht und es somit auch von Wettbewerbern
          differenziert.<br />
          <span class="bold">Basis <br />»Grundlage für die Unternehmung« </span><br />
          Eigenschaften, über die ein Unternehmen in dieser Branche grundlegend
          verfügen sollte um zu bestehen, die aber keine wirkliche
          Differenzierung bieten.
        </p>
        <div class="social">
          <a href="https://www.facebook.com/universitytravelclub"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/utcgermany/"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 align-self-center">
      <img src="./assets/img/background/UTC-gruppenbild.jpg" class="col-md-12 img-fluid" alt="group-img" />
    </div>
  </div>
</div>