<div class="section">
  <div class="container">
    <div class="title">
      <h1>University Travel Club</h1>
    </div>
    <div class="content">
      <div class="article">
        <h3>» Zusammen die Welt erleben«</h3>
        <p>
          <strong
            >Markenkern<br />
            »Die Essenz der der Marke«</strong
          ><br />
          Zentrale Idee/Kernaussage der Marke. Das was die Marke anstrebt zu
          sein. Werte, die glaubwürdig als Alleinstellungsmerkmal für das
          Unternehmen stehen.<br />
          <strong
            >Differenziatoren <br />»Das künftige Leistungsversprechen der
            Marke«</strong
          >
          <br />
          Stark differenzierende Eigenschaften, die beschreiben, was das
          Unternehmen besonders macht und es somit auch von Wettbewerbern
          differenziert.<br />
          <strong>Basis <br />»Grundlage für die Unternehmung« </strong><br />
          Eigenschaften, über die ein Unternehmen in dieser Branche grundlegend
          verfügen sollte um zu bestehen, die aber keine wirkliche
          Differenzierung bieten.
        </p>
        <div class="button">
          <a href="">Read More...</a>
        </div>
      </div>
    </div>
    <div class="image">
      <img src="../../../assets/img/background/UTC-gruppenbild.jpg" />
    </div>
    <div class="social">
      <a href="https://www.facebook.com/universitytravelclub"
        ><i class="bi bi-facebook"></i
      ></a>
      <a href="https://www.instagram.com/utcgermany/"
        ><i class="bi bi-instagram"></i
      ></a>
    </div>
  </div>
</div>
