<div class="container">
  <h1>University Travel Club</h1>
  <hr />
  <h2>Zusammen die Welt erleben</h2>
  <h3 class="first">Markenkern <br />»Die Essenz der der Marke«</h3>
  <p>
    Zentrale Idee/Kernaussage der Marke. Das was die Marke anstrebt zu sein.
    Werte, die glaubwürdig als Alleinstellungsmerkmal für das Unternehmen stehen
  </p>
  <h3 class="second">
    Differenziatoren <br />
    »Das künftige Leistungsversprechen der Marke.«
  </h3>
  <p>
    Stark differenzierende Eigenschaften, die beschreiben, was das Unternehmen
    besonders macht und es somit auch von Wettbewerbern differenziert.
  </p>
  <h3 class="third">
    Basis <br />
    »Grundlage für die Unternehmung«
  </h3>
  <p>
    Eigenschaften, über die ein Unternehmen in dieser Branche grundlegend
    verfügen sollte um zu bestehen, die aber keine wirkliche Differenzierung
    bieten.
  </p>
</div>
