<ngb-carousel
  [showNavigationArrows]="true"
  [showNavigationIndicators]="true"
  interval="12000"
  [keyboard]="true"
  [pauseOnHover]="true"
  [wrap]="true"
  [activeId]="'secondSlide'"
>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../.././../assets/carousel/pexels-belle-co-1000445.jpg"
        alt="Angular Carousel 1"
      />
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../../assets/carousel/ibrahim-rifath-Y6tBl0pTe-g-unsplash.jpg"
        alt="Angular Carousel 2"
      />
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
</ngb-carousel>
